.notification{
    position: absolute;
    width:269px;
    height:194px;
    background-color: #FFFFFF;
    bottom:-205px;
    left:0;
    opacity:1;
    transition:opacity linear 0.1s, visibility linear 0.1s;
}

.notification_hidden{
    visibility: hidden;
    opacity:0;
}


.notification__content{
    display:flex;
    flex-direction:column;
    gap:20px;
    position: relative;
    width: 100%;
    height:100%;
    padding:36px 36px 28px;
    box-sizing: border-box;
}


.notification__close-button{
    border:none;
    background:none;
    background-image: url('../../images/cancel_is_your_city.svg');
    position:absolute;
    width:24px;
    height:24px;
    top:12px;
    right:12px;
    opacity:0.6;
    cursor:pointer;
    transition: opacity linear 0.1s;
}

.notification__close-button:hover{
    opacity:0.4;
}

.notification__title{
    display: flex;
    font-family: 'Bahnschrift',serif;
    color:#222222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
    flex-wrap: wrap;
}

.notification__title_city{
    color:#B73A34;
}

.notification__buttons{
    display:flex;
    gap:12px;
}

.notification__button{
    border:none;
    background:none;
    margin:0;
    padding: 12px 18px;
    font-family: 'Bahnschrift',sans-serif;
    font-variation-settings: 'wdth' 87;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-wrap:nowrap;
    cursor:pointer;
    transition:background-color linear 0.15s;
}

.notification__button_agree{
    background-color: #B73A34;
    color:white;
}

.notification__button_agree:hover{
    background-color: #8B1813;
    color:white;
}

.notification__button_choose{
    background-color: white;
    color:#222222;
    border:1px solid #222222;
}

.notification__button_choose:hover{
    background-color: #222222;
    color:#FFFFFF;
}

.notification__caption{
    margin:0;
    color: rgba(0,0,0,0.6);
    font-family: 'Bahnschrift',serif;
    font-variation-settings: 'wdth' 87;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}