.item__wrapper {
  padding: 16px 17px 23px;
  cursor: pointer;
  border-bottom: 1px solid #222;
}

.item__wrapper:last-child  {
  border-bottom: none;
}

.item__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 120.5%;
  white-space: normal;
  margin-bottom: 5px;
}

.item__info {
  font-size: 13px;
  line-height: 120.5%;
  margin-bottom: 15px;
}