/* @font-face {
    font-family: 'Bahnschrift';
    src: url('./Bahnschrift.woff');
    font-weight: 400;
} */

@font-face {
    font-family: 'Benzin';
    src: url('./Benzin-Bold.woff2')format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Benzin';
    src: url('./Benzin-Medium.woff2')format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Bahnschrift";
    src: url('./BAHNSCHRIFT.TTF')format("truetype"),
}


