.contacts{
    display: flex;
    flex-direction: column;
    padding:0 65px;
    background-color: #222222;
}

.contacts__title{
    color:white;
    font-family: 'Benzin';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    width:calc(100% - (100% - 1290px));
    margin:64px auto 40px
}

.contacts__grid{
    margin: 0 auto;
    display:grid;
    grid-template-columns: 645px 645px;
    grid-template-rows: 491px 491px;
    padding-bottom:300px;
}

.contacts__form-title{
    color: #222222;
    text-align: left;
    font-family: 'Bahnschrift',serif;
    font-size: 40px;
    font-variation-settings: 'wdth' 87;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin:0;
    padding-bottom: 10px;
}

.contacts__form-caption{
    color: #222222;
    text-align: left;
    font-family: 'Bahnschrift',serif;
    font-variation-settings: 'wdth' 87;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin:0;
    padding-bottom:24px;
}

.contacts__form{
    padding:24px 37px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.contacts__input{
    border:none;
    font-family: 'Bahnschrift',serif;
    font-variation-settings: 'wdth' 95;
    border:1px solid black;
    width:100%;
    padding:8px;
    font-size: 16px;
    font-weight: 500;
    box-sizing:border-box;
    background-color: #FFFFFF;
    margin-bottom:20px;
    resize:none;
}

.contacts__form-button{
    font-family:'Bahnschrift', serif;
    font-variation-settings: 'wdth' 85;
    color:white;
    background-color: #B73A34;
    width:100%;
    font-size: 16px;
    padding:12px 18px;
    align-self:baseline;
    border:none;
    cursor: pointer;
}

.contacts__form-button:hover{
 opacity:0.7;
}

.contacts__agreement-title{
    color: #222222;
    text-align: left;
    font-family: 'Bahnschrift',serif;
    font-variation-settings: 'wdth' 87;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
}